{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Add User{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mt-5">Create User</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit">Create User</button>
            </form>
            <a href="{% url 'admin_panel' %}">Back to Admin Panel</a>
        </div>
    </div>
</div>
{% endblock %}
